# Google Apps Script Web App URL
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzZbqYB5I8iJYFLOjY1MmVFI32kg0qZvVQfDfepdKNeNuiiYBemoUce45SFe0bE4gT3/exec
# LINE Messaging API Configuration
LINE_CHANNEL_ACCESS_TOKEN=rRlg8lDnZ8B7fB7Xl4xaYP8tdLkt29hMVu658qAG8gSpc/Gw/xJjwObfHZjGkHas1UJcAIqX4EQXkjRSAu4m8uogaVIz4iMAEE70i9n7/etsF5wLMSJoRyOvG7C3ciwF2Nq71OZarR00sARpZekx4wdB04t89/1O/w1cDnyilFU=

LINE_USER_ID=C20f63627a5e5f861c69d51c09278512f

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyDvqFA6LH0ys92T3hzMW8y7jsIxrijMf0I
VITE_FIREBASE_AUTH_DOMAIN=newf-96200.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=newf-96200
VITE_FIREBASE_STORAGE_BUCKET=newf-96200.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=198616576371
VITE_FIREBASE_APP_ID=1:198616576371:web:f846e7102fcccde6ad5506
VITE_FIREBASE_MEASUREMENT_ID=G-TWVZKJ2NRS

# Gemini API Key (Optional if not using AI features)
GEMINI_API_KEY=AIzaSyBhQE0nllaUqUVVmnI7LZafm5ymCLpHpak
